In [39]:
import pandas as pd
from sklearn import preprocessing
from sklearn.naive_bayes import MultinomialNB as MB
import numpy as np

In [1]:
from google.colab import files
uploaded=files.upload()

Saving SalaryData_Train.csv to SalaryData_Train.csv

In [40]:
train=pd.read_csv('SalaryData_Train.csv')

In [5]:
from google.colab import files
uploaded=files.upload()

Saving SalaryData_Test.csv to SalaryData_Test.csv

In [41]:
test=pd.read_csv('SalaryData_Test.csv')

In [42]:
train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [43]:
train.insert(14,'Salary_cat','')

In [44]:
for i in range (0,len(train['Salary'])):
  if train['Salary'][i]==' <=50K':
    train['Salary_cat'][i]='0'
  else:
      train['Salary_cat'][i]='1'

<ipython-input-44-2017f4dffd77>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['Salary_cat'][i]='0'
<ipython-input-44-2017f4dffd77>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['Salary_cat'][i]='1'

In [45]:
label_encoder=preprocessing.LabelEncoder()
train['workclass']=label_encoder.fit_transform(train['workclass'])
train['maritalstatus']=label_encoder.fit_transform(train['maritalstatus'])
train['occupation']=label_encoder.fit_transform(train['occupation'])
train['relationship']=label_encoder.fit_transform(train['relationship'])
train['race']=label_encoder.fit_transform(train['race'])
train['sex']=label_encoder.fit_transform(train['sex'])
train['native']=label_encoder.fit_transform(train['native'])

In [46]:
train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary,Salary_cat
0,39,5,Bachelors,13,4,0,1,4,1,2174,0,40,37,<=50K,0
1,50,4,Bachelors,13,2,3,0,4,1,0,0,13,37,<=50K,0
2,38,2,HS-grad,9,0,5,1,4,1,0,0,40,37,<=50K,0
3,53,2,11th,7,2,5,0,2,1,0,0,40,37,<=50K,0
4,28,2,Bachelors,13,2,9,5,2,0,0,0,40,4,<=50K,0

In [47]:
train=train.drop(['education','Salary'],axis=1)

In [48]:
test.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [49]:
test.insert(14,'Salary_cat','')

In [50]:
for i in range (0,len(test['Salary'])):
  if test['Salary'][i]==' <=50K':
    test['Salary_cat'][i]='0'
  else:
      test['Salary_cat'][i]='1'

<ipython-input-50-26f91376608f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Salary_cat'][i]='0'
<ipython-input-50-26f91376608f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Salary_cat'][i]='1'

In [51]:
label_encoder=preprocessing.LabelEncoder()
test['workclass']=label_encoder.fit_transform(test['workclass'])
test['maritalstatus']=label_encoder.fit_transform(test['maritalstatus'])
test['occupation']=label_encoder.fit_transform(test['occupation'])
test['relationship']=label_encoder.fit_transform(test['relationship'])
test['race']=label_encoder.fit_transform(test['race'])
test['sex']=label_encoder.fit_transform(test['sex'])
test['native']=label_encoder.fit_transform(test['native'])

In [52]:
test.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary,Salary_cat
0,25,2,11th,7,4,6,3,2,1,0,0,40,37,<=50K,0
1,38,2,HS-grad,9,2,4,0,4,1,0,0,50,37,<=50K,0
2,28,1,Assoc-acdm,12,2,10,0,4,1,0,0,40,37,>50K,1
3,44,2,Some-college,10,2,6,0,2,1,7688,0,40,37,>50K,1
4,34,2,10th,6,4,7,1,4,1,0,0,30,37,<=50K,0

In [53]:
test=test.drop(['education','Salary'],axis=1)

In [54]:
train.isnull().sum()

age              0
workclass        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary_cat       0
dtype: int64

In [55]:
test.isnull().sum()

age              0
workclass        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary_cat       0
dtype: int64

In [56]:
x_train=train.iloc[:,:-1]
y_train=train['Salary_cat']

In [57]:
x_test=test.iloc[:,:-1]
y_test=test['Salary_cat']

In [58]:
####### Without TFIDF matrices ########################
# Preparing a naive bayes model on training data set


# Multinomial Naive Bayes
classifier_mb = MB()
classifier_mb.fit(x_train,y_train)

train_pred= classifier_mb.predict(x_train)
accuracy_train= np.mean(train_pred==y_train)

In [59]:
accuracy_train

0.7729186698053778

In [60]:
test_pred= classifier_mb.predict(x_test)
accuracy_test= np.mean(test_pred==y_test)

In [61]:
accuracy_test

0.7749667994687915